.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 100px;
  margin-bottom: 30px;
  width: 70vw;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.writeAdd {
  height: 25px;
  width: 25px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  font-size: 20px;
  cursor: pointer;
}

.writeAdd:hover {
  opacity: 1;
}

.writeInput {
  border: none;
  font-size: 40px;
  padding: 20px;
  width: 70vw;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  border-radius: 10px;
  background-color: rgb(114, 161, 211);
  color: #fff;
  padding: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
